.text-align--center {
    text-align: center;
}

.TimezoneClock {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.clock-wrapper {
    background: #ededed;
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 50%;
}

.second-wrapper {
    position: absolute;
    width: 2px;
    height: 100px;
    display: inline-block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background: #f14848;
    transition: all 100ms cubic-bezier(0.000, 1.405, 0.680, 1.145); /* custom */
    transform: rotate(var(--deg));
    transform-origin: bottom;
}

.minute-wrapper {
    position: absolute;
    margin-top: 20px;
    width: 3px;
    height: 80px;
    display: inline-block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background: #a45981;
    transition: 300ms ease-in-out;
    transform: rotate(var(--deg));
    transform-origin: bottom;
}

.hour-wrapper {
    position: absolute;
    margin-top: 50px;
    width: 5px;
    height: 50px;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #9cc79c;
    transition: 2000ms ease-in-out;
    transform: rotate(var(--deg));
    transform-origin: bottom;
}

.readable-day {
    font-size: 26px;
}

.readable-time {
    font-weight: 600;
    font-family: 'Roboto Mono for Powerline';
    font-size: 26px;
}