.clock-wrapper {
    background: #ededed;
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
    padding: 20px;
}

.second-wrapper {
    position: absolute;
    width: 2px;
    height: 100px;
    display: inline-block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background: black;
    transition: 300ms ease-in-out;
    transform: rotate(var(--deg));
    transform-origin: bottom;
}

.minute-wrapper {
    position: absolute;
    margin-top: 20px;
    width: 3px;
    height: 80px;
    display: inline-block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background: blue;
    transition: 300ms ease-in-out;
    transform: rotate(var(--deg));
    transform-origin: bottom;
}

.hour-wrapper {
    position: absolute;
    margin-top: 50px;
    width: 5px;
    height: 50px;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: green;
    transition: 2000ms ease-in-out;
    transform: rotate(var(--deg));
    transform-origin: bottom;
}