@page "/timezone"
@inject HttpClient Http

<h1>Timezones</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (timezone == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Unixtime</th>
                <th>Timezone</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@timezone.Unixtime</td>
                </tr>
        </tbody>
    </table>
}

@code {
WeatherForecast[] forecasts;
TimeZone timezone;
HttpResponseMessage timezonesResponse;

protected override async Task OnInitAsync()
{
    timezone = await Http.GetJsonAsync<TimeZone>("http://worldtimeapi.org/api/timezone/Asia/Manila.json");
}

class TimeZone
{
    public int Unixtime { get; set; }
}

class WeatherForecast
{
    public DateTime Date { get; set; }

    public int TemperatureC { get; set; }

    public int TemperatureF { get; set; }
}
}
