@page "/timezone"

<h1>Timezones</h1>
<p>This component demonstrates fetching timezone data from an API and maintaining current time within component state</p>

<TimezoneClock TimezoneLocation="Asia/Manila" />
<TimezoneClock TimezoneLocation="Indian/Cocos" />
